@charset "ISO-8859-1";

background {
	background-color: darkslategrey;
}

.dropdownbutton {
    background-color: blue;
    color: white;
    padding: 13px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: blueviolet;
    min-width: 150px;
}

.dropdown-menu a {
    color: black;
    padding: 11px 15px;
    text-decoration:none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .dropdownbutton {
    background-color: grey;
}